@use './../common/variable' as *;

.arrow-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;

  &__icon {
    border: 2px solid $icon;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./img/icons/dropdown.svg') center center no-repeat;
  }
}
