.footer {
  // .footer__wrapper

  &__wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 19px;

    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    opacity: 72%;

    @media (min-width: 768px) {
      padding-top: 32px;
      padding-bottom: 25px;
      flex-direction: row;
      justify-content: space-between;
      gap: 35px;
    }

    @media (min-width: 1440px) {
      gap: 100px;
    }
  }

  // .footer__copyright

  &__copyright {
    & span {
      display: block;
    }

    @media (min-width: 768px) {
      text-align: left;
      flex: 0 0 218px;
    }
  }

  // .footer__privacy-policy

  &__privacy-policy {
    @media (min-width: 768px) {
      flex: 0 0 214px;
    }
  }

  // .footer__disclaimer

  &__disclaimer {
    @media (min-width: 768px) {
      text-align: right;
      flex: 0 1 330px;
    }
  }
}
