@use '../common/variable' as *;

.header {
  position: fixed;
  height: 88px;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: $bg-block;
  z-index: 5;
  border-bottom: 1px solid $border-section;

  @media (min-width: 1440px) {
    background-color: $bg-body;
    padding-left: 306px;
    border: none;
  }

  &__inner {
    display: grid;
    grid-template-columns: 40px 97px 1fr 96px;
    align-items: center;
    gap: 16px;
    height: 88px;
    padding: 10px 0;

    @media (min-width: 768px) {
      grid-template-columns: 40px 10px 97px 1fr 10px 96px;
    }

    @media (min-width: 1440px) {
      display: flex;
      position: relative;
    }
  }

  &__inner::before,
  &__inner::after {
    margin: 0 4px;

    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__inner::before {
    @media (min-width: 768px) {
      content: '';
      width: 2px;
      height: 32px;
      background-color: #eaeaea;
      order: 1;
    }
  }

  &__inner::after {
    content: '';
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    order: 4;
    justify-self: end;
  }

  &__logo-link {
    position: relative;
    z-index: 10;
    order: 2;

    @media (min-width: 1440px) {
      position: absolute;
      left: -336px;
    }
  }

  &__profile {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      order: 4;
      gap: 16px;
      justify-self: end;
    }

    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__repair-status {
    display: flex;
    gap: 16px;
    order: 5;

    @media (min-width: 1440px) {
      margin-left: auto;
    }
  }

  &__repair-status-link {
    @media (min-width: 1440px) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }
  }

  &__repair-status-label {
    display: none;

    @media (min-width: 1440px) {
      display: inline-block;
    }
  }
}

.icon-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  display: flex;
  justify-content: center;
  align-items: center;
}
