.menu {
  .menu__icon {
    position: relative;
    z-index: 10;
  }

  .menu__icon-lines {
    width: 18px;
    height: 16px;
    position: relative;
    transition: all 0.3s ease 0s;
  }

  .menu__icon-lines span,
  .menu__icon-lines::after,
  .menu__icon-lines::before {
    position: absolute;
    left: 0;
    height: 2px;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    border-radius: 1px;
  }

  .menu__icon-lines::after,
  .menu__icon-lines::before {
    content: '';
  }

  .menu__icon-lines::after {
    bottom: 0;
    width: 14px;
  }

  .menu__icon-lines::before {
    top: 0;
    width: 100%;
  }

  .menu__icon-lines span {
    width: 10px;
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }

  /* ==================Menu open start======================= */

  .menu--open .menu__icon-lines {
    width: 22px;
  }

  .menu--open .menu__icon-lines span {
    display: none;
  }

  .menu--open .menu__icon-lines::before {
    width: 22px;
    transform: rotate(45deg);
    top: 50%;
  }

  .menu--open .menu__icon-lines::after {
    width: 22px;
    transform: rotate(-45deg);
    top: 50%;
  }

  /* ==================Menu open end======================= */

  /*=======================Menu body=======================*/

  .menu__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 100vh;
    padding: 0 16px 32px;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);
    background-color: #fff;
    overflow: auto;

    @media (min-width: 360px) {
      padding: 0 24px 32px;
    }

    @media (min-width: 1120px) {
      width: 306px;
    }
  }

  /*.menu__body::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.9);
}*/

  .menu__search {
    position: fixed;
    top: 24px;
    left: 256px;
    z-index: 6;
  }

  .menu__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .menu__navigation {
    padding-top: 116px;
  }

  .menu__list {
    color: #1b1c21;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .menu__list-item {
    position: relative;
  }

  .menu__list-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .menu__list-item--active {
    color: #7e7e82;
  }

  .menu__list-item--active::before {
    content: '';
    background-color: #41f6d7;
    position: absolute;
    top: -8px;
    left: -16px;
    width: 4px;
    height: 32px;
    border-radius: 0 4px 4px 0;

    @media (min-width: 360px) {
      left: -24px;
    }
  }

  .menu__list-link:hover {
    color: #7e7e82;
  }

  .menu__profile {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    margin-top: auto;
    margin-bottom: 16px;
  }

  .menu__email {
    color: #1b1c21;
    line-height: 24px;
    margin-bottom: 12px;
  }

  .menu__phone {
    color: #1b1c21;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .menu__lang-item {
    display: inline-block;
  }

  .menu__lang-item + .menu__lang-item {
    margin-left: 7px;
  }

  .menu__lang-btn {
    background-color: transparent;
    color: #1b1c21;
    line-height: 24px;
  }

  .menu__lang-btn--active {
    color: #7e7e82;
  }
}
