@font-face {
	font-family: 'TT Lakes';
	src: local('TT Lakes Bold'), local('TTLakes-Bold'),
		url('./fonts/TTLakes-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'TT Lakes';
	src: url("./fonts/TTLakes-Medium.woff") format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'TT Lakes';
	src: local('TT Lakes Regular'), local('TTLakes-Regular'),
		url('./fonts/TTLakes-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "TT Lakes";
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.2px;
	line-height: 24px;
	color: #7E7E82;
	padding-top: 88px;
	height: calc(100vh - 88px);
	background-color: #F8F8F8;
}

._container {
	max-width: 1120px;
	padding: 0 16px;

	@media (min-width: 768px) {
		padding: 0 24px;
	}

	@media (min-width: 1120px) {
		max-width: 1440px;
		padding: 0 32px;
	}

	@media (min-width: 1440px) {
		margin: 0 auto;
	}
}