$text-base: #7E7E82;
$text-secondary: #1B1C21;

$decor-element: #41F6D7;
$decor-element-hover: #B8FFEC;
$icon: #FF3E79;
$border-section: #D9FFF5;
$bg-body: #F8F8F8;
$bg-blok: #fff;
$coior-header-decor: #EAEAEA;

//F8F8F8 - bg body
//fff - bg header
//EAEAEA - bg elements
//D9FFF5 - border section
//FF3E79 - bg icon
//41F6D7 - decor element
//B8FFEC - link hover
//7E7E82 - текст
//1B1C21 - текст
