@use './variable' as *;

body {
  font-family: 'TT Lakes';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
  color: $text-base;
  padding-top: 88px;
  height: calc(100vh - 88px);
  background-color: $bg-body;

  @media (min-width: 1440px) {
    padding-top: 18px;
    padding-left: 306px;
  }
}

body.no-scroll {
  overflow: hidden;
}

._container {
  max-width: 1440px;
  padding: 0 16px;

  @media (min-width: 360px) {
    padding: 0 24px;
  }

  @media (min-width: 1120px) {
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    max-width: 1120px;
    padding: 0 32px;
  }
}

.title-wrapper {
  background: linear-gradient(to right, $bg-body, $bg-block);
}

.section-title {
  font-weight: normal;
  letter-spacing: -0.2px;
  padding: 16px 0;
}

.none {
  display: none;
}
