$text-base: #7e7e82;
$text-secondary: #1b1c21;

$decor-element: #41f6d7;
$decor-element-hover: #b8ffec;
$icon: #ff3e79;
$border-section: #d9fff5;
$bg-body: #f8f8f8;
$bg-block: #fff;
$border-color: #eaeaea;

$swiper-bullet: #dddddd;
$swiper-bullet-active: #b5b6bc;
